@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff"),
       url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2"),
       url("../fonts/ptsans-700.woff") format("woff");
  font-display: swap;
}

body {
  width: 1200px;
  color: #000;
  background: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.header {
  background-color: #f0f0f0;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 70px;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
}

.logo {
  display: block;
  width: 128px;
  height: 64px;
}

.navigation-list {
  display: flex;
  align-items: center;
  list-style: none;

}

.navigation-item {
  margin-right: 20px;
}

.navigation-user {
  gap: 20px;
  display: flex;
  justify-content: space-between;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
  font-family: "PT Sans";
  font-weight: 700;
}

.navigation-button {
  background: #756157;
  color: #FFFFFF;
  width:160px;
  height:36px;
  border-radius: 4px;
  border: 0;
  margin-top: 8px;
  margin-right: 50px;
  margin-bottom: 8px;
  margin-left: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.hero-link {
  font-weight: 700;
}

.image-search {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}


.image-favourites {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-list:first-child {
}


 .main {

 }

 .hero {
  position: relative;
  width: 100%;
  height: 485px;
  background-image: url("./images/index-background.png");
  background-size: cover;
  background-position: center;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hero-image {
  display: block;
  width: 458px;
  height: 352px;
}

.hero-title {
  position: relative;
  top: -10px;
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: 700;
}

.hero-divider::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1200px;
  height: 57px;
  background-image: url("./images/divider.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
}

  .advantages {

  }

  .advantages-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .advantages-grid__first {

  }

  .advantages-item {

  }

  .advantages-item__short {
   width: 400px;
   background: #82B3D3;
   color: #f0f0f0;
  }

  .advantages-title {
    font-family: "PT Sans";
    font-weight: 700;
  }

  .hr {

  }

  .advantages-subtitle {

  }

  .advantages-item__long {
    width: 800px;
  }

  .advantages-img {

  }

  .advantages-grid__second {
    grid-template-columns: repeat(3, 400px);
}

  .advantages-grid__third {

  }

  .invitation {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .invitation-title {
    margin-top: 64px;
    margin-bottom: 20px;
    font-family: "PT Sans";
    text-transform: uppercase;
    font-weight: 700;
    width: 505px;
  }

  .invitation-subtitle {
    font-family: "PT Sans";
    font-weight: 400;
    width: 490px;
    margin-top: 0;
    margin-bottom: 64px;
    color: #333333;
  }

  .recomendation-grid {
    display: grid;
    grid-template-columns: repeat(3, 400px);
  }

  .recomendation-item {
    text-align: center;
  }

  .recomendation-icon {
    width: 75px;
    margin-top: 0;
  }

  .recomendation-title {
    margin: 30px 0 auto;
    text-transform: uppercase;
  }

  .recomendation-subtitle {
    margin: 30px 81px auto;
    color: #333333;
  }

  .decoration-color {
    background: rgba(131, 179, 211, 0.12);
  }

  .decoration-bacground {
    background: rgba(131, 179, 211, 0.2);
  }

  .search-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-title {
    margin-top: 96px;
    margin-bottom: 20px;
    font-family: "PT Sans";
    text-transform: uppercase;
    font-weight: 700;
    width: 505px;
  }

  .search-subtitle {
    font-family: "PT Sans";
    font-weight: 400;
    width: 490px;
    margin-top: 0;
    margin-bottom: 54px;
    color: #333333;
  }

  .search-link {
    text-decoration: none;
  }

  .search-botton {
   background: #756157;
   text-transform: uppercase;
   border-radius: 3%;
   color: #f0f0f0;
   margin-bottom: 96px ;
   width: 376px;
   height: 52px;
   border: 0;
   font-weight: 700;
  }

  .subscribe {
   background-image: url("./images/subscribe.png");
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
  }

  .subscribe-title {
    margin-top: 96px;
    margin-bottom: 20px;
    font-family: "PT Sans";
    text-transform: uppercase;
    font-weight: 700;
    width: 404px;
    color: #FFFFFF;
  }

  .subscribe-subtitle {
    font-family: "PT Sans";
    font-weight: 400;
    width: 475px;
    margin-top: 0;
    margin-bottom: 54px;
    color: #FFFFFF;
  }

  .subscribe-form {
    display: flex;
    width: 684px;
    margin-bottom: 104px;
  }

  .subscribe-email {
    width: 452px;
    padding: 14px;
    border: 0;
    border-radius: 4px 0 0 4px;
    background: #F2F2F2;
  }

  .subscribe-button {
      width: 232px;
      padding: 8px;
      background-color: #82B3D3;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      border: none;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
  }

  .footer {

  }

  .footer-container {
    background-color: #fff;
    padding: 40px 70px 30px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-social {
    display: flex;
    gap: 20px;
  }

  .footer-social__icons {

  }

  .footer-social__link {

  }

  .footer-phone__number {
    margin-left: 236.5px;
    text-decoration: none;
    color: #000;
  }

  .footer-logo {

  }
  

  .footer-logo__link {

  }

  .footer-logo__prime {

  }

  .filter {
    position: relative;
    width: 100%;
    background-image: url("./images/index-background.png");
    background-size: cover;
    background-position: center;
  }
