.header {

}

.headar-navigation {

}

.logo-header {

}

.navigation-list
{

}

.navigation-item {

}

.navigation-link {

 }

 .visually-hidden {

 }

 .navigation-img {

 }

 .main {

 }

 .hero {

 }

 .logo {

  }

  .hero-divider {

  }

  .logo-divider {

  }

  .subscribe {

  }

  .hero-text {

  }

  .hero-title {

  }

  .hero-subtitle {

  }

  .advantages {

  }

  .advantages-grid {

  }

  .advantages-grid__first {

  }

  .advantages-item {

  }

  .advantages-item__short {

  }

  .advantages-title {

  }

  .hr {
    width: 50px;
    margin: 30px auto;
    border: 1px solid black;
  }

  .advantages-subtitle {

  }

  .advantages-item__long {

  }

  .advantages-img {

  }

  .advantages-grid__second {

  }

  .advantages-grid__third {

  }

  .invitation {

  }

  .invitation-title {

  }

  .invitation-subtitle {

  }

  .invitation-grid {

  }

  .invitation-item {

  }

  .invitation-icon {

  }

  .hero-text {

  }

  .hero-title {

  }

  .hero-subtitle {

  }

  .hero-link {

  }

  .hero-botton {

  }

  .subscribe {

  }

  .subscribe-title {

  }

  .subscribe-subtitle {

  }

  .subscribe-form {

  }

  .subscribe-email {

  }

  .subscribe-button {

  }

  .footer {

  }

  .footer-container {

  }

  .footer-social {

  }

  .footer-social__icons {

  }

  .footer-social__link {

  }

  .footer-social__icons {

  }

  .footer-phone__number {

  }

  .footer-logo {

  }

  .footer-logo__link {

  }

  .footer-logo__prime {

  }
