body {
  width: 1200px;
  color: #000;
  background: #FFFFFF;
}

.header {
  background-color: #f0f0f0;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  width: 128px;
  height: 64px;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item {
  margin-right: 20px;
}

.navigation-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation-link {
  text-decoration: none;
  color: #333;
}

.hero-link {
  font-weight: bold;
}

.image-search {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}


.image-favourites {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
}

.navigation-link {
  background-color: #a5694f;
  color: #fff;
  border: none;
  padding: 8px 50px;
  border-radius: 4px 0 0 0;
  font-weight: bold;
  cursor: pointer;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-list:first-child {
  margin-right: 40px;
}

.navigation-user {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

  .container {
    width: 90%;
  }

 .main {

 }

 .hero {
  position: relative;
  width: 100%;
  height: 485px;
  background-image: url("./images/index-background.png");
  background-size: cover;
  background-position: center;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hero-image {
  display: block;
  width: 458px;
  height: 352px;
}

.hero-title {
  position: relative;
  top: -10px;
  text-align: center;
  font-size: 24px;
  color: white;
}

.hero-divider::before{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1200px;
  height: 57px;
  background-image: url("./images/divider.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
}

  .advantages {

  }

  .advantages-grid {

  }

  .advantages-grid__first {

  }

  .advantages-item {

  }

  .advantages-item__short {

  }

  .advantages-title {

  }

  .hr {
    width: 50px;
    margin: 30px auto;
    border: 1px solid black;
  }

  .advantages-subtitle {

  }

  .advantages-item__long {

  }

  .advantages-img {

  }

  .advantages-grid__second {

  }

  .advantages-grid__third {

  }

  .invitation {

  }

  .invitation-title {

  }

  .invitation-subtitle {

  }

  .invitation-grid {

  }

  .invitation-item {

  }

  .invitation-icon {

  }

  .hero-text {

  }

  .hero-title {

  }

  .hero-subtitle {

  }

  .hero-link {

  }

  .hero-botton {

  }

  .subscribe {

  }

  .subscribe-title {

  }

  .subscribe-subtitle {

  }

  .subscribe-form {

  }

  .subscribe-email {

  }

  .subscribe-button {

  }

  .footer {

  }

  .footer-container {

  }

  .footer-social {

  }

  .footer-social__icons {

  }

  .footer-social__link {

  }

  .footer-social__icons {

  }

  .footer-phone__number {

  }

  .footer-logo {

  }

  .footer-logo__link {

  }

  .footer-logo__prime {

  }

  .filter {
    position: relative;
    width: 100%;
    height: 485px;
    background-image: url("./images/index-background.png");
    background-size: cover;
    background-position: center;
  }
