@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff"),
    url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2"),
    url("../fonts/ptsans-700.woff") format("woff");
  font-display: swap;
}

body {
  color: #000;
  background: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  background-color: #f2f2f2;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-header {
  background-color: #f0f0f0;
  width: 100%;
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  width: 100%;
  padding: 0 70px;
}

.logo {
  display: block;
  width: 128px;
}

.logo img {
  display: block;
}

.navigation-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-item {
  margin-right: 20px;
}

.navigation-icon {
  display: block;
  width: 44px;
  height: 100%;
}

.navigation-user .navigation-item {
  margin: 0;
}

.navigation-user {
  display: flex;
  margin: 0;
  margin-left: auto;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
  font-family: "PT Sans";
  font-weight: 700;
}

.navigation-button {
  background: #756157;
  color: #ffffff;
  width: 160px;
  height: 36px;
  border-radius: 4px;
  border: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.hero-link {
  font-weight: 700;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.hero {
  position: relative;
  width: 100%;
  height: 485px;
  background-image: url("../images/index-background.png");
  background-size: cover;
  background-position: center;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hero-image {
  display: block;
  width: 458px;
  height: 352px;
}

/* .hero-title {
  position: relative;
  top: -10px;
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: 700;
} */

.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1200px;
  height: 57px;
  background-image: url("../images/divider.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.greeting {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting-title {
  line-height: 36px;
  font-size: 30px;
  width: 620px;
  margin-bottom: 25px;
  margin-top: 69px;
  text-transform: uppercase;
}

.greeting-subtitle {
  font-size: 22px;
  line-height: 26px;
  width: 651px;
  margin-bottom: 69px;
  margin-top: 0;
  color: #333333;
}

.advantages {
}

.advantages-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.advantages-grid-first {
}

.advantages-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-item-short {
  width: 400px;
  background: #82b3d3;
  color: #f0f0f0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-title {
  line-height: 28px;
  font-size: 24px;
  width: 175px;
  margin-bottom: 62px;
  margin-top: 102px;
  text-transform: uppercase;
}

.advantages-dark {
  color: #333333;
}
.advantages-subtitle {
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  margin-bottom: 102px;
  margin-top: 0;
}

.advantages-item-long {
  width: 800px;
}

.advantages-img {
}

.advantages-grid-second {
  grid-template-columns: repeat(3, 400px);
}

.advantages-grid-third {
}

.invitation {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invitation-title {
  margin-top: 64px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  width: 505px;
}

.invitation-subtitle {
  width: 490px;
  margin-top: 0;
  margin-bottom: 64px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
}

.recomendation-grid {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.recomendation-item {
  text-align: center;
}

.recomendation-icon {
  width: 75px;
  margin-top: 0;
}

.recomendation-title {
  margin: 30px 0 auto;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}

.recomendation-subtitle {
  margin: 30px 81px auto;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.decoration-color {
  background: rgba(131, 179, 211, 0.12);
}

.decoration-bacground {
  background: rgba(131, 179, 211, 0.2);
}

.search-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-title {
  margin-top: 96px;
  margin-bottom: 20px;
  text-transform: uppercase;
  width: 505px;
  font-size: 30px;
  line-height: 36px;
}

.search-subtitle {
  font-size: 22px;
  line-height: 26px;
  width: 490px;
  margin-top: 0;
  margin-bottom: 54px;
  color: #333333;
}

.search-link {
  text-decoration: none;
}

.search-botton {
  background: #756157;
  text-transform: uppercase;
  border-radius: 3%;
  color: #f0f0f0;
  margin-bottom: 96px;
  width: 376px;
  height: 52px;
  border: 0;
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  background-image: url("../images/subscribe.png");
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}

.subscribe-title {
  margin-top: 96px;
  margin-bottom: 20px;
  text-transform: uppercase;
  width: 404px;
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-subtitle {
  width: 475px;
  margin-top: 0;
  margin-bottom: 54px;
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
  width: 684px;
  margin-bottom: 104px;
}

.subscribe-email {
  width: 452px;
  padding: 14px;
  border: 0;
  border-radius: 4px 0 0 4px;
  background: #f2f2f2;
  font-size: 18px;
  line-height: 24px;
}

.subscribe-button {
  width: 232px;
  padding: 8px;
  background-color: #82b3d3;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.footer {
  width: 100%;
  position: sticky;
  bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.footer-social {
  width: 142px;
}

.footer-social-icons {
  display: inline-block;
}

.footer-social-link {
}

.footer-phone-number {
  margin: 0 auto;
  text-decoration: none;
  color: #000;
  font-size: 40px;
  line-height: 40px;
}

.footer-logo {
  margin-left: auto;
}

.footer-logo-link {
}

.footer-logo-prime {
}

.filter {
  position: relative;
  width: 100%;
  background-image: url("./images/index-background.png");
  background-size: cover;
  background-position: center;
}

.main-catalog {
}

.filter {
  background-image: url("../images/catalog.jpg");
  background-size: cover;
  color: #fff;
}

.filter-title {
  font-size: 60px;
  line-height: 78px;
}

.list-title {
  font-size: 16px;
  line-height: 21px;
}

.image-home {
}

.image-arrow {
}

.breadcrumb-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-round {
  list-style: none;
}

.filter-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-elements {
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 114px;
}

.filter-square {
  list-style: none;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
}

.filter-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.filter-square .filter-checkbox:checked::before {
  background-color: #3f5e72;
  border: 10px solid #ccc;
}

.filter-square .filter-checkbox::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  transform: scale(0);
  transition: transform 0.2s ease;
  position: absolute;
  top: 2px;
  left: 2px;
}

.filter-round-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.filter-round .filter-round-checkbox::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  transform: scale(0);
  transition: transform 0.2s ease;
  position: absolute;
  top: 4px;
  left: 4px;
  transform: rotate(45deg);
}

.filter-round .filter-round-checkbox:checked::before {
  background-color: #333;
  border-radius: 50%;
}

.price-filter {
}

.square-checkbox {
}

.price-label {
  font-size: 20px;
  line-height: 24px;
}

.price-range {
}

.price-input {
}

.price-item {
  font-size: 16px;
  line-height: 20px;
  color: ;
}

.price-slider {
}

.button {
}

.apply-button {
  font-size: 16px;
  line-height: 20px;
  background-color: #82b3d3;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

.reset-button {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.catalog-img {
  display: flex;
  flex-direction: column;
}

.catalog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}

.catalog-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-dropdown {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
}

.filter-price {
  margin-bottom: 20px;
}

.select-list {
  width: 100%;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 10px;
}

.dropdown-button {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  font-family: PT Sans;
  font-weight: 400;
}

.catalog-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.catalog-link {
  text-decoration: none;
}

.catalog-item {
  margin-right: 8px;
}

.large-items,
.single-element,
.list-element {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.large-items {
  border-color: #000000;
}

.catalog-hotels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-right: 70px;
  padding-left: 70px;
}

.catalog-product {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
}

.catalog-images {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  object-fit: cover;
}

.info {
}

.hotel-title {
  font-size: 18px;
  line-height: 21px;
}

.hotel-subtitle,
.price {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.hotel-subtitle {
  margin-bottom: 8px;
}

.hotel-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.botton-detailed,
.botton-favourites {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  padding: 10px 16px;
}

.botton-detailed {
  background-color: #756157;
}

.green {
  background-color: #7db54f;
}

.botton-favourites {
  background-color: #82b3d3;
}

.rating {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.star {
  margin-right: 4px;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  color: #333333;
  padding: 5px 10px;
  border-radius: 4px;
}

.button-pagination {
  background-color: #82b3d3;
  color: #fff;
  font-size: 20px;
  line-height: 36px;
  border-radius: 4px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.selected {
  background-color: #f2f2f2;
  color: #000;
  font-size: 20px;
  line-height: 36px;
  border-radius: 4px;
  padding: 10px 20px;
}

.block-pagination {
  background-color: #ffffff;
  color: #000;
  font-size: 20px;
  line-height: 36px;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
}

.subscription-non {
  background-color: #ffffff;
  background-image: none;
}

.title-black {
  color: #000;
  font-weight: 700;
}

.subtitle-black {
  color: #333333;
}
