@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

input {
  all: unset;
}

* {
  box-sizing: border-box;
}

body {
  color: #000;
  background: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  background-color: #f2f2f2;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-header {
  background-color: #f0f0f0;
  width: 100%;
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  width: 100%;
  padding: 0 70px;
  flex-wrap: wrap;
}

.logo {
  display: block;
  width: 128px;
  cursor: pointer;
  margin-bottom: -6px;
  position: relative;
  z-index: 1;
}

.logo img {
  display: block;
}

.navigation-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  margin: 0;
}

.navigation-list-menu {
  padding-left: 40px;
}

.navigation-item .button:hover {
  background-color: #615048;
  cursor: pointer;
}

.navigation-item .button:focus {
  background-color: #615048;
}

.navigation-item .button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-item .button:disabled {
  background-color: #e5e5e5;
  color: #fff;
}

.navigation-icon {
  display: block;
  width: 44px;
  height: 64px;
}

.navigation-user .navigation-item {
  margin: 0;
}

.navigation-user {
  display: flex;
  margin: 0;
  margin-left: auto;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  text-decoration: none;
  color: #000000;
  font-family: "PT Sans";
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  flex-wrap: wrap;
  max-width: 560px;
  white-space: nowrap;
}

.navigation-button {
  background: #756157;
  color: #ffffff;
  width: 160px;
  height: 36px;
  border-radius: 4px;
  border: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 20px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  font-family: "PT Sans";
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
}

.navigation-button:hover {
  background-color: #615048;
}

.navigation-button:checked {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.hero-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: #756257;
}

.visually-hidden {
  position: absolute;
  clip-path: inset(50%);
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hero {
  position: relative;
  width: 100%;
  height: 485px;
  background-image: url("../images/index-background.png");
  background-size: cover;
  background-position: center;
  background-color: #83b3d3;
}

.hero-content {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hero-image {
  display: block;
  width: 458px;
  height: 352px;
}

.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1200px;
  height: 57px;
  background-image: url("../images/divider.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.greeting {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting-title {
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  font-family: "PT Sans";
  width: 620px;
  margin-bottom: 25px;
  margin-top: 69px;
  text-transform: uppercase;
}

.advantages-grid-second .advantages-title {
  margin-top: 112px;
}

.advantages-grid-second .advantages-subtitle {
  margin-bottom: 112px;
}

.greeting-subtitle {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-family: "PT Sans";
  width: 651px;
  margin-bottom: 90px;
  margin-top: 0;
  color: #333333;
}

.advantages-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.advantages-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-item-short {
  width: 400px;
  background: #82b3d3;
  color: #f0f0f0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-title::after {
  content: "";
  width: 60px;
  height: 2px;
  background: #0000004d;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.advantages-title {
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
  font-family: "PT Sans";
  width: 175px;
  margin-bottom: 30px;
  margin-top: 102px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 30px;
}

.advantages-dark {
  color: #333333;
}

.advantages-subtitle {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-family: "PT Sans";
  width: 230px;
  margin-bottom: 102px;
  margin-top: 0;
}

.advantages-item-long {
  width: 800px;
}

.advantages-grid-second {
  grid-template-columns: repeat(3, 400px);
}

.invitation {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invitation-title {
  margin-top: 64px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  width: 505px;
  font-weight: 700;
  font-family: "PT Sans";
}

.invitation-subtitle {
  width: 490px;
  margin-top: 0;
  margin-bottom: 64px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-family: "PT Sans";
}

.recomendation-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.recomendation-item {
  text-align: center;
  padding: 81px 0;
}

.recomendation-icon {
  width: 75px;
  margin-top: 0;
}

.recomendation-title {
  margin: 30px 0 auto;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-family: "PT Sans";
}

.recomendation-subtitle {
  margin: 30px 81px auto;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-family: "PT Sans";
}

.decoration-color {
  background: rgba(131, 179, 211, 0.12);
}

.decoration-bacground {
  background: rgba(131, 179, 211, 0.2);
}

.search-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-title {
  margin-top: 96px;
  margin-bottom: 20px;
  text-transform: uppercase;
  width: 505px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-family: "PT Sans";
}

.search-subtitle {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-family: "PT Sans";
  width: 592px;
  margin-top: 0;
  margin-bottom: 54px;
  color: #333333;
}

.search-link {
  text-decoration: none;
}

.search-button {
  background: #756157;
  text-transform: uppercase;
  border-radius: 4px;
  color: #f0f0f0;
  margin-bottom: 96px;
  width: 376px;
  padding: 8px;
  text-decoration: none;
  border: 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-family: "PT Sans";
}

.search-button:hover {
  background-color: #615048;
}

.search-button:focus {
  background-color: #615048;
}

.search-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.search-button:disabled {
  background-color: #e5e5e5;
  color: rgba(255, 255, 255, 1);
}

.subscribe {
  background-image: url("../images/subscribe.jpeg");
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-color: #83b3d3;
}

.subscribe-title {
  margin-top: 96px;
  margin-bottom: 20px;
  text-transform: uppercase;
  width: 407px;
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-family: "PT Sans";
}

.subscribe-subtitle {
  width: 475px;
  margin-top: 0;
  margin-bottom: 54px;
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-family: "PT Sans";
}

.subscribe-form {
  display: flex;
  width: 684px;
  margin-bottom: 104px;
}

.subscribe-form:focus {
  outline: 3px solid #68a2ca;
}

.subscribe-form:hover {
  background-color: #f2f2f2;
}

.subscribe-email {
  width: 452px;
  padding: 14px 20px;
  border: 0;
  border-radius: 4px 0 0 4px;
  background: #f2f2f2;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: "PT Sans";
  text-align: left;
}

.subscribe-button {
  width: 232px;
  padding: 8px;
  background-color: #82b3d3;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-family: "PT Sans";
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  flex-shrink: 0;
}

.subscribe-button:hover {
  background-color: #68a2ca;
}

.subscribe-button:focus {
  background-color: #68a2ca;
}

.subscribe-button :active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:disabled {
  background-color: #e5e5e5;
  color: rgba(255, 255, 255, 0.3);
}

.footer {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 70px;
  align-items: center;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
}

.footer-social-icon {
  color: #83b3d3;
}

.footer-social-icon .footer-social-icons:hover {
  color: #68a2ca;
}

.footer-social-icon .footer-social-icons:focus {
  color: #68a2ca;
}

.footer-social-icon .footer-social-icons:active {
  color: #68a2ca4d;
  opacity: 0.3;
}

.footer-social-link:hover {
  color: #68a2ca;
}

.footer-social-link:focus {
  color: #68a2ca;
}

.footer-social-link:active {
  color: #68a2ca4d;
  opacity: 0.3;
}

.footer-social-link {
  width: 24px;
  height: 24px;
  padding: 24px 24px 24px 24px;
  box-sizing: border-box;
}

.footer-phone-number {
  margin: 0 auto;
  text-decoration: none;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  font-family: "PT Sans";
}

.footer-phone-number:hover {
  color: #756157;
}

.footer-phone-number:focus {
  color: #756157;
}

.footer-phone-number:active {
  color: #7561574d;
  opacity: 0.3;
}

.footer-logo {
  width: 115px;
  height: auto;
}

.footer-logo-prime {
  color: black;
  transition: color 0.3s ease;
}

.footer-logo-prime:hover {
  content: url("../images/academy.svg");
}

.footer-logo-prime:focus {
  content: url("../images/academy.svg");
}

.footer-logo-link .footer-logo-prime:hover {
  color: #756157;
}

.footer-logo-prime:focus {
  color: #756157;
}

.footer-logo-prime:active {
  color: #7561574d;
  opacity: 0.3;
}

.main-catalog {
  flex-grow: 1;
}

.filter {
  position: relative;
  width: 100%;
  background-position: center;
  background-image: url("../images/catalog.jpg");
  background-size: cover;
  color: #fff;
  background-color: #83b3d3;
  padding: 35px 70px 57px;
}

.filter-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  font-family: "PT Sans";
  font-weight: 700;
  margin-bottom: 8px;
}

.list-title {
  font-size: 16px;
  line-height: 21px;
  font-family: "PT Sans";
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.list-title:hover {
  color: #ffffff99;
}

.list-title:focus {
  color: #fff;
}

.list-title:active {
  color: rgba(255, 255, 255, 0.3);
  opacity: 0.3;
}

.image-home {
  flex-shrink: 0;
}

.image-arrow {
  flex-shrink: 0;
}

.group-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: "PT Sans";
}

.filter-round {
  list-style: none;
  padding: 0;
  margin-top: 32px;
}

.filter-menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 40px;
  flex-wrap: wrap;
}

.group-elements {
  padding: 0;
  margin: 0;
  border: none;
  width: 150px;
}

.group-elements:first-of-type {
  margin-right: 67px;
}

.group-elements:last-of-type {
  margin-right: 140px;
}

.menu {
  display: flex;
  align-items: center;
  margin-top: 0;
  height: 21px;
  gap: 0 10px;
}

.filter-square {
  list-style: none;
  padding: 0;
  margin-top: 32px;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  font-family: "PT Sans";
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.filter-item:hover {
  opacity: 0.3;
}

.control-mark:focus {
  border: px solid #83b3d3;
}

.filter-checkbox:focus {
  outline: 4px solid #83b3d3;
}

.filter-item:active {
  opacity: 0.6;
}

.control-mark {
  position: relative;
  display: inline-block;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}

.control-mark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  opacity: 0;
}

.field-radio-input:checked + .control-mark::after {
  opacity: 1;
  flex-shrink: 0;
}

.field-radio {
  display: flex;
  align-items: center;
  gap: 16px;
}

.field-check {
  display: flex;
  align-items: center;
}

.filter-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-right: 16px;
  flex-shrink: 0;
}

.filter-checkbox:checked {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0.5L4.5 7.9L1.1 4L0 5.2L4.5 10.4L12.2 1.8L11 0.5Z' fill='%233F5E72'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 11px;
}

.filter-checkbox:checked::after {
  content: "";
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.field-check {
  display: flex;
  align-items: center;
  color: #fff;
}

.filter-square .filter-checkbox::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  transform: scale(0);
  transition: transform 0.2s ease;
  position: absolute;
  top: 2px;
  left: 2px;
}

.filter-round-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  margin-right: 10px;
}

.filter-round .filter-round-checkbox::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  transition: transform 0.2s ease;
  position: absolute;
  top: 4px;
  left: 4px;
  transform: rotate(45deg);
}

.filter-round .filter-round-checkbox:checked::before {
  background-color: #333;
  border-radius: 50%;
}

.price-filter {
  display: flex;
  align-items: flex-end;
  gap: 70px;
  max-width: 100%;
}

.price-menu {
  display: flex;
  flex-direction: column;
  width: 288px;
  max-width: 100%;
}

.price-button {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 191px;
  margin-bottom: -8px;
}

.price-label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: "PT Sans";
  margin-bottom: 32px;
  margin-top: 0;
}

.price-range {
  display: flex;
  gap: 2px;
  width: 100%;
}

.input-price {
  flex: 1;
  position: relative;
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: "PT Sans";
}

.price-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000;
  font-size: 18px;
  font-family: "PT Sans";
  font-weight: 700;
  line-height: 24px;
  box-sizing: border-box;
  padding: 12px 20px;
}
.price-input {
  -moz-appearance: textfield;
  appearance: textfield;
}

.price-input:hover {
  background-color: #e6e6e6;
}

.price-input:focus {
  background-color: #e6e6e6;
  outline: 4px solid #83b3d3;
}

.range-toggle:active {
  background-color: #e6e6e6;
  border: 4px solid #83b3d3;
}

.range-toggle:focus {
  background-color: #e6e6e6;
  border: 4px solid #83b3d3;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.field {
  margin: 0;
  font-family: "PT Sans";
  background-color: #f2f2f2;
  border: 0;
}

.price-item {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: "PT Sans";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.input-left {
  border-radius: 4px 0 0 4px;
}

.input-rigth {
  border-radius: 0 4px 4px 0;
}

.price-slider {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.range-scale {
  position: relative;
  height: 4px;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  margin-top: 44px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #000;
  width: 61px;
  right: 0;
  opacity: 0.3;
}

.toggle-min {
  left: 0;
  background-color: #fff;
}

.range-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-max {
  left: 207px;
  background-color: #fff;
  z-index: 1;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3a82f7;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.apply-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: "PT Sans";
  background-color: #82b3d3;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
}

.apply-button:hover {
  background-color: #68a2ca;
}

.apply-button:focus {
  background-color: #68a2ca;
}

.apply-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.apply-button:disabled {
  background-color: #e5e5e5;
  color: rgba(255, 255, 255, 0.3);
}

.reset-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: "PT Sans";
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
}

.reset-button:hover {
  opacity: 0.3;
}

.reset-button:focus {
  outline: 2px solid #68a2ca;
}

.reset-button:active {
  opacity: 0.5;
}

.reset-button:disabled {
  opacity: 0.6;
}

.apply-button,
.reset-button {
  width: 100%;
}

.catalog-img {
  display: flex;
  flex-direction: column;
  padding: 0 70px;
  margin-bottom: 60px;
}

.catalog-header {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

.catalog-header-right {
  display: flex;
  gap: 70px;
}

.catalog-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-family: "PT Sans";
  text-transform: uppercase;
  margin: 0;
  flex-shrink: 0;
  margin-right: 55px;
}

.catalog-dropdown {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-family: "PT Sans";
  color: #333333;
  width: 292px;
}

.filter-price {
  margin-bottom: 20px;
}

.select-list {
  width: 292px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 12px 20px;
  cursor: pointer;
  padding-right: 70px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-family: "PT Sans";
  appearance: none;
  background-color: #fff;
}

.select-list {
  position: relative;
  padding-right: 40px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 11px 7px;
}

.select-list:hover {
  border: 2px solid #68a2ca;
}

.select-list:focus {
  border: 2px solid #68a2ca;
}

.select-list:active {
  border: 2px solid #68a2ca;
}

.select-list:disabled {
  border: 2px rgba(0, 0, 0, 0.3) solid;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 8px;
  flex-wrap: wrap;
}

.catalog-link {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.catalog-link:hover {
  border: 2px solid #000;
}

.catalog-link:focus {
  border: 2px solid #68a2ca;
}

.catalog-link:active {
  border: 2px solid #000;
}

.catalog-link.active {
  border-color: #000000;
}

.catalog-hotels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 40px;
}

.catalog-product {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
}

.catalog-images {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 13px;
}

.hotel-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 16px 0;
}

.hotel-price {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.hotel-subtitle,
.price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  font-family: "PT Sans";
  margin: 0 0 16px 0;
}

.hotel-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: 0 0 16px 0;
}

.button-detailed,
.button-favourites {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: "PT Sans";
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  max-width: 140px;
  width: 100%;
}

.button-favourites.green {
  background-color: #7db54f;
}

.button-favourites.green:hover {
  background-color: #6c9e42;
}

.button-favourites.green:focus {
  background-color: #6c9e42;
}

.button-favourites.green:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.button-favourites.green:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.button-detailed {
  background-color: #756157;
}

.button-detailed:hover {
  background-color: #615048;
}

.button-detailed:focus {
  background-color: #615048;
}

.button-detailed:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-detailed:disabled {
  background-color: #e5e5e5;
  color: #fff;
}

.button-favourites {
  background-color: #82b3d3;
}

.button-favourites:hover {
  background-color: #68a2ca;
}

.button-favourites:focus {
  background-color: #68a2ca;
}

.button-favourites:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-favourites:disabled {
  background-color: #e5e5e5;
  color: rgba(255, 255, 255, 0.3);
}

.rating-grow {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.rating {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: 2px;
}

.star {
  margin-right: 4px;
}

.hotel-rating {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "PT Sans";
  background-color: #f2f2f2;
  text-transform: uppercase;
  color: #333333;
  padding: 8px 10px;
  border-radius: 4px;
  max-width: 140px;
  width: 100%;
}

.button-paginations {
  display: flex;
  gap: 8px;
}

.button-pagination {
  text-align: center;
  width: 60px;
  height: 60px;
  background-color: #82b3d3;
  color: #fff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-family: "PT Sans";
  border-radius: 4px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.button-pagination:hover {
  background-color: #68a2ca;
}

.button-pagination:focus {
  background-color: #68a2ca;
}

.button-pagination:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.selected {
  background-color: #f2f2f2;
  color: #000;
  font-size: 20px;
}

.block-pagination {
  background-color: #ffffff;
  color: #000;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-family: "PT Sans";
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  display: inline-block;
}

.subscription-non {
  background-color: #ffffff;
  background-image: none;
}

.title-black {
  color: #000;
  font-weight: 700;
}

.subtitle-black {
  color: #333333;
}

.modal-header {
  display: flex;
  position: relative;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2cc;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-container-hidden {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 40px;
  background-color: #ffffff;
  border-radius: 30px;
  width: 717px;
}

.modal-content {
  width: 578px;
  margin: auto;
}

.modal-close-button {
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  background-image: url("../images/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: absolute;
  right: -18px;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-family: "PT Sans";
  color: #000;
  text-transform: uppercase;
  margin-right: 130px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.modal-calendar {
  display: flex;
  gap: 24px;
}

.modal-text {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: "PT Sans";
  color: #000;
  flex-shrink: 0;
  margin-top: 12px;
}

.form-comment {
  width: 100%;
  position: relative;
  display: inline-block;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 20px;
}

.form-arrival {
  width: 100%;
  padding: 12px 20px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: "PT Sans";
  color: #000;
  box-sizing: border-box;
}

.form-arrival:hover {
  background-color: #e6e6e6;
  color: #000;
}

.form-arrival:focus {
  outline: 2px #68a2ca solid;
  background-color: #e6e6e6;
  color: #000;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
  color: #000000;
}

.modal-close-button:focus {
  outline: 3px #68a2ca solid;
  background-color: #e6e6e6;
  color: #000;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  color: #000;
}

.decrease-button,
.increase-button:hover {
  color: #000;
}

.decrease-button:focus {
  outline: 3px #68a2ca solid;
  color: #000;
}

.increase-button:focus {
  outline: 3px #68a2ca solid;
  color: #000;
}

.form-back {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: "PT Sans";
  color: #000;
  width: 100%;
  box-sizing: border-box;
}

.form-back::placeholder {
  color: #000;
}

.form-arrival::placeholder {
  color: #000;
}

.form-text {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: "PT Sans";
  color: #000;
  display: none;
}

.form-img {
  cursor: pointer;
  position: absolute;
  padding: 14px;
  border: none;
  display: block;
  right: 0;
  top: 0;
  border-radius: 4px;
  opacity: 0.3;
}

.form-notice {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  font-family: "PT Sans";
  color: #000;
  margin-top: 5px;
}

.form-notice-arrival {
  color: #ff5757;
}

.modal-persan,
.modal-people {
  display: flex;
  justify-content: space-between;
}

.form-person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin-left: 46px;
}

.decrease-button,
.increase-button {
  width: 40px;
  height: 48px;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

.modal-child {
  display: flex;
  justify-content: space-between;
  margin-left: 88px;
}

.text-person {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  font-family: "PT Sans";
  text-align: center;
  color: #000;
  height: 48px;
  width: 31px;
}

.text-person::placeholder {
  color: #000;
}

.text-person::-webkit-outer-spin-button,
.text-person::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.modal-search-button {
  display: flex;
  margin: auto;
  border: none;
  width: 100%;
  background-color: #83b3d3;
  color: #ffffff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 18px 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "PT Sans";
  margin-top: 17px;
}

.modal-search-button:hover {
  background-color: #68a2ca;
}

.tooltip-toggle {
  border: none;
  background-color: #83b3d3;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  justify-content: center;
  justify-items: center;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #ffffff;
}

.tooltip-text {
  position: absolute;
  font-family: "PT Sans", sans-serif;
  background-color: #333333;
  color: #ffffff;
  transform: translateX(-50%);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 15px 22px;
  border-radius: 10px;
  display: none;
  width: 256px;
}

.tooltip {
  margin-left: 13px;
  margin-top: 10px;
}

.tooltip:hover .tooltip-text {
  display: block;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
