@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  color: #000;
  background: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  background-color: #f2f2f2;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-header {
  background-color: #f0f0f0;
  width: 100%;
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  width: 100%;
  padding: 0 70px;
}

.logo {
  display: block;
  width: 128px;
}

.logo img {
  display: block;
}

.navigation-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 28px;
  margin: 0;
}

.navigation-item {
  margin-right: 20px;
}

.navigation-item .button:hover {
  background-color: rgba(97, 80, 72, 1);
}

.navigation-item .button:focus {
  background-color: rgba(97, 80, 72, 1);
}

.navigation-item .button:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.navigation-item .button:disabled {
  background-color: rgba(229, 229, 229, 1);
  color: rgba(255, 255, 255, 1);
}

.navigation-icon {
  display: block;
  width: 44px;
  height: 100%;
}

.navigation-user .navigation-item {
  margin: 0;
}

.navigation-user {
  display: flex;
  margin: 0;
  margin-left: auto;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
  font-family: "PT Sans";
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
}

.navigation-button {
  background: #756157;
  color: #ffffff;
  width: 160px;
  height: 36px;
  border-radius: 4px;
  border: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 20px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  font-family: "PT Sans";
  text-transform: uppercase;
}

.hero-link {
  font-weight: 700;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.hero {
  position: relative;
  width: 100%;
  height: 485px;
  background-image: url("../images/index-background.png");
  background-size: cover;
  background-position: center;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hero-image {
  display: block;
  width: 458px;
  height: 352px;
}

/* .hero-title {
  position: relative;
  top: -10px;
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: 700;
} */

.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1200px;
  height: 57px;
  background-image: url("../images/divider.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.greeting {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting-title {
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  font-family: "PT Sans";
  width: 620px;
  margin-bottom: 25px;
  margin-top: 69px;
  text-transform: uppercase;
}

.greeting-subtitle {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-family: "PT Sans";
  width: 651px;
  margin-bottom: 69px;
  margin-top: 0;
  color: #333333;
}

.advantages {
}

.advantages-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.advantages-grid-first {
}

.advantages-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-item-short {
  width: 400px;
  background: #82b3d3;
  color: #f0f0f0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-title::after {
  content: "";
  width: 60px;
  height: 2px;
  background: #0000004d;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.advantages-title {
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
  font-family: "PT Sans";
  width: 175px;
  margin-bottom: 30px;
  margin-top: 102px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 30px;
}

.advantages-dark {
  color: #333333;
}
.advantages-subtitle {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-family: "PT Sans";
  width: 230px;
  margin-bottom: 102px;
  margin-top: 0;
}

.advantages-item-long {
  width: 800px;
}

.advantages-img {
}

.advantages-grid-second {
  grid-template-columns: repeat(3, 400px);
}

.advantages-grid-third {
}

.invitation {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invitation-title {
  margin-top: 64px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  width: 505px;
  font-weight: 700;
  font-family: "PT Sans";
}

.invitation-subtitle {
  width: 490px;
  margin-top: 0;
  margin-bottom: 64px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-family: "PT Sans";
}

.recomendation-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.recomendation-item {
  text-align: center;
  padding: 81px 0;
}

.recomendation-icon {
  width: 75px;
  margin-top: 0;
}

.recomendation-title {
  margin: 30px 0 auto;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-family: "PT Sans";
}

.recomendation-subtitle {
  margin: 30px 81px auto;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-family: "PT Sans";
}

.decoration-color {
  background: rgba(131, 179, 211, 0.12);
}

.decoration-bacground {
  background: rgba(131, 179, 211, 0.2);
}

.search-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-title {
  margin-top: 96px;
  margin-bottom: 20px;
  text-transform: uppercase;
  width: 505px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-family: "PT Sans";
}

.search-subtitle {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-family: "PT Sans";
  width: 490px;
  margin-top: 0;
  margin-bottom: 54px;
  color: #333333;
}

.search-link {
  text-decoration: none;
}

.search-botton {
  background: #756157;
  text-transform: uppercase;
  border-radius: 3%;
  color: #f0f0f0;
  margin-bottom: 96px;
  width: 376px;
  height: 52px;
  border: 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-family: "PT Sans";
}

.search-botton .button:hover {
  background-color: rgba(97, 80, 72, 1);
}

.search-botton .button:focus {
  background-color: rgba(97, 80, 72, 1);
}

.search-botton .button:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.search-botton .button:disabled {
  background-color: rgba(229, 229, 229, 1);
  color: rgba(255, 255, 255, 1);
}

.subscribe {
  background-image: url("../images/subscribe.jpeg");
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}

.subscribe-title {
  margin-top: 96px;
  margin-bottom: 20px;
  text-transform: uppercase;
  width: 404px;
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-family: "PT Sans";
}

.subscribe-subtitle {
  width: 475px;
  margin-top: 0;
  margin-bottom: 54px;
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-family: "PT Sans";
}

.subscribe-form {
  display: flex;
  width: 684px;
  margin-bottom: 104px;
}

.subscribe-form:focus {
  outline: 3px solid rgba(131, 178, 211, 1);
}

.subscribe-form:hover {
  background-color: rgba(230, 230, 230, 1);
}

.subscribe-email {
  width: 452px;
  padding: 14px;
  border: 0;
  border-radius: 4px 0 0 4px;
  background: #f2f2f2;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: "PT Sans";
}

.subscribe-button {
  width: 232px;
  padding: 8px;
  background-color: #82b3d3;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-family: "PT Sans";
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.subscribe-button .button:hover {
  background-color: rgba(104, 162, 202, 1);
}

.subscribe-button .button:focus {
  background-color: rgba(104, 162, 202, 1)
}

.subscribe-button .button:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button .button:disabled {
  background-color: rgba(229, 229, 229, 1);
  color: rgba(255, 255, 255, 1);
}



.footer {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.footer-social {
  display: flex;
  gap: 10px;
}

.footer-social-icons {
}

.footer-social-link {
  width: 24px;
  height: 24px;
}

.footer-phone-number {
  margin: 0 auto;
  text-decoration: none;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  font-family: "PT Sans";
}

.footer-logo {
  width: 115px;
  height: auto;
}

.footer-logo-link {
}

.footer-logo-prime {
}

.filter {
  position: relative;
  width: 100%;
  background-image: url("./images/index-background.png");
  background-size: cover;
  background-position: center;
}

.main-catalog {
  flex-grow: 1;
}

.filter {
  background-image: url("../images/catalog.jpg");
  background-size: cover;
  color: #fff;
  padding: 35px 70px 70px;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  font-family: "PT Sans";
  font-weight: 700;
  margin-bottom: 10px;
}

.list-title {
  font-size: 16px;
  line-height: 21px;
  font-family: "PT Sans";
  font-weight: 400;
}

.image-home {
  margin-right: 10px;
}

.image-arrow {
  margin-right: 10px;
}

.group-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: "PT Sans";
  margin-bottom: 10px;
}

.filter-round {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-menu {
  display: flex;
  gap: 20px;
}

.group-elements {
  padding: 0;
  margin: 0;
  border: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 114px;
}

.filter-square {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  font-family: "PT Sans";
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filter-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  margin-right: 10px;
}

.filter-square .filter-checkbox:checked::before {
  background-color: #3f5e72;
  border: 10px solid #ccc;
}

.filter-square .filter-checkbox::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  transform: scale(0);
  transition: transform 0.2s ease;
  position: absolute;
  top: 2px;
  left: 2px;
}

.filter-round-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  margin-right: 10px;
}

.filter-round .filter-round-checkbox::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  transition: transform 0.2s ease;
  position: absolute;
  top: 4px;
  left: 4px;
  transform: rotate(45deg);
}

.filter-round .filter-round-checkbox:checked::before {
  background-color: #333;
  border-radius: 50%;
}

.price-filter {
  display: flex;
}

.square-checkbox {
}

.price-menu {
}

.price-button {
}

.price-label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: "PT Sans";
  margin-bottom: 10px;
  margin-top: 0;
}

.price-range {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.price-input {
  width: 80px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.price-item {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "PT Sans";
  color: ;
}

.price-slider {
  width: 100%;
  margin: 10px 0;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3a82f7;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.button:hower {
  background-color: #2a6fd7;
}

.apply-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: PT Sans;
  background-color: #82b3d3;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

.reset-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: "PT Sans";
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #2a6fd7;
}

.catalog-img {
  display: flex;
  flex-direction: column;
  padding: 0 70px;
}

.catalog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-family: "PT Sans";
  text-transform: uppercase;
}

.catalog-dropdown {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-family: "PT Sans";
  color: #333333;
  width: 292px;
}

.filter-price {
  margin-bottom: 20px;
}

.select-list {
  width: 100%;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 10px;
}

.dropdown-button {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  font-family: "PT Sans";
  font-weight: 400;
}

.catalog-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.catalog-link {
  text-decoration: none;
}

.catalog-item {
  margin-right: 8px;
}

.large-items,
.single-element,
.list-element {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.large-items {
  border-color: #000000;
}

.catalog-hotels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 40px;
}

.catalog-product {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
}

.catalog-images {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  object-fit: cover;
  margin-bottom: 16px;
}

.info {
}

.hotel-title {
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 16px 0;
}

.hotel-price {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.hotel-subtitle,
.price {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  font-weight: 400;
  font-family: "PT Sans";
  margin: 0 0 16px 0;
}

.hotel-subtitle {
}

.hotel-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: 0 0 16px 0;
}

.botton-detailed,
.botton-favourites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: "PT Sans";
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  padding: 10px 16px;
  text-decoration: none;
}

.botton-detailed {
  background-color: #756157;
}

.green {
  background-color: #7db54f;
}

.botton-favourites {
  background-color: #82b3d3;
}

.rating-grow {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.rating {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.star {
  margin-right: 4px;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "PT Sans";
  background-color: #f2f2f2;
  text-transform: uppercase;
  color: #333333;
  padding: 5px 10px;
  border-radius: 4px;
}

.button-pagination {
  background-color: #82b3d3;
  color: #fff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-family: "PT Sans";
  border-radius: 4px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.selected {
  background-color: #f2f2f2;
  color: #000;
  font-size: 20px;
}

.block-pagination {
  background-color: #ffffff;
  color: #000;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-family: "PT Sans";
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  display: inline-block;
}

.subscription-non {
  background-color: #ffffff;
  background-image: none;
}

.title-black {
  color: #000;
  font-weight: 700;
}

.subtitle-black {
  color: #333333;
}

.modal-header {
  display: flex;
  position: relative;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2cc;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 30px;
  width: 717px;
}

.modal-auht {
}

.modal-content {
  width: 578px;
  margin: auto;
}

.modal-close-button {
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  background-image: url("../images/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: absolute;
  right: -18px;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-family: "PT Sans";
  color: #000;
  text-transform: uppercase;
  margin-right: 130px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-calendar {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* .modal-calendar, .modal-persan {
  display: flex;
  flex-direction: column;
  gap: 5px;
} */


.modal-text {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: "PT Sans";
  color: #000;
  flex-shrink: 0;
}

.form-comment {
  width: 100%;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 20px;
}

.form-arrival {
}

.form-back {
}

.form-text {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: "PT Sans";
  color: #000;
}

.form-img {
  cursor: pointer;
}

.form-notice {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  font-family: "PT Sans";
  color: #000;
  margin-top: 5px;
}

.form-notice-arrival {
  color: #ff5757;
}

.modal-persan, .modal-people {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 4px;
  gap: 10px;
  padding: 10px;
  margin-left: 46px;
}

.decrease-button, .increase-button {
  border: none;
  cursor: pointer;
  padding: 5px;
}

.modal-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-person {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  font-family: "PT Sans";
  color: #000;
}

.modal-search-button {
  display: flex;
  margin: auto;
  border: none;
  width: 100%;
  background-color: #83b3d3;
  color: #ffffff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;
}

.modal-search-button:hover {
  background-color: #68A2CA;
}

.tooltip-toggle {
  border: none;
  background-color: #83b3d3;
  padding: 0;
  margin: 0;
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  justify-content: center;
  justify-items: center;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #ffffff;
}

.tooltip-text {
  position: absolute;
  font-family: "PT Sans", sans-serif;
  background-color: #333333;
  color: #ffffff;
  transform: translateX(-50%);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 5px 10px;
  border-radius: 10px;
  display: none;
  width: 256px;
}

.tooltip {
  margin-left: 13px;
}

.tooltip:hover .tooltip-text {
  display: block;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
